/* TODO : Couleurs rouges (2 variantes) */
/* rgba(175, 59, 94, 1) */
/* rgba(175, 91, 94, 1) */

.todos-header {
	/*display: flex;*/
	position: relative;
}

.add-todo-form {
	width: 100%;
	text-align: center;
}

.add-todo-form > input {
	width: 100%;
	border: 1px solid #e6e6e6;
	-webkit-box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
	font-weight: 300;
	padding-left: 4.5rem;
}

.add-todo-form > input:focus {
	/*outline-color: #af3b5e;*/ /* rgba(175, 59, 94, 1) */
	outline: none;
	background-color: rgba(175, 91, 94, 0.3); /* rgba(175, 91, 94, 1) */
}

button.toggle-all-todos {
	cursor: pointer;
	color: rgba(0, 0, 0, 0.2);
	position: absolute;
	top: 0;
	left: 8px;
	font-size: 1.5rem;
	height: 47px;
	width: 47px;
	transform: rotate(90deg);
}

button.toggle-all-todos:focus {
	/*outline-color: rgba(175, 91, 94, 0.3);*/
	outline: none;
	/* TODO : Voir la meilleur implémentation du focus : bg-color ou color ? */
	/*background-color: rgba(175, 91, 94, 0.3);
	border-radius: 50%;*/
	color: rgba(175, 91, 94, 0.6);
}
