.todo-list {
	/*position: relative;*/
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	/*line-height: 14px;*/
}

.todolist-container {
	/*margin: 0.5rem 0;*/
	/*margin-top: 0.5rem;*/
	width: 100%;
	border: 1px solid #e6e6e6;
	border-bottom: none;
}