/* TODO : Comment adapter height de l'input .editing quand le todo est sur plusieurs lignes ? */
/* TODO : Gestion sur plusieurs lignes : avoir le checkbox centré au milieu quelque soit le nb de lignes */

/* rgba(175, 47, 47, 0.15) */

.todo-item {
	/*cursor: pointer;*/
	position: relative;
	font-size: 1.65rem;
	transition: color 0.35s;
	border-bottom: 1px solid #e6e6e6;
	padding: 0.75rem 1rem;
	/*height: 63px;*/
	font-weight: 300;
	line-height: 1.4;
	display: flex;
}

.todo-item:last-child {
	border-bottom: none;
}

.todo-item.done {
	text-decoration: line-through rgba(222, 72, 72, 0.65);
	color: #d9d9d9;
	transition: color 0.35s;
}

/*.todo-item label .inline-text_copy--hidden {
	display: none;
}*/

.todo-item label {
	display: inline-block;
	width: 90%;
}

.todo-item label.inline-text_copy--hidden {
	display: none;
}

/*.todo-item label .inline-text_copy--hidden {
	display: none;
}*/


/*.todo-item {
	position: relative;
	line-height: 1.2;
	font-size: 1.65rem;
}
.todo-item label {
	!*cursor: pointer;
	position: relative;
	font-size: 1.65rem;*!
	display: block;
	transition: color 0.35s;
	border-bottom: 1px solid #e6e6e6;
	padding: 0.75rem 1rem;
	!*height: 63px;*!
	!*line-height: 1.2;*!
	word-break: break-all;
}

.todo-item label:last-child {
	border-bottom: none;
}

.todo-item.done label {
	text-decoration: line-through rgba(222, 72, 72, 0.65);
	color: #d9d9d9;
	transition: color 0.35s;
}*/

.delete-todo {
	display: none;
	color: #cc9a9a;
	font-size: 2rem;
	font-weight: 400;
	text-decoration: none;
	cursor: pointer;
}
/*.delete-todo::after {
	content: "\D7"
}*/
.todo-item:hover .delete-todo {
	display: block;
	position: absolute;
	top: 5px;
	right: 0.5rem;
}
.delete-todo:hover {
	color: #af5b5e
}

/*.todo-item.done::after{
	content: '';
	border-bottom: 4px solid rgba(222, 72, 72, 0.5);
	position: absolute;
	left: 0;
	top: 50%;
	!*width: 100%;*!
	!* TODO : FONCTIONNE MAIS WIDTH A GERER. COMMENT ? *!
	width: 10%;
}*/

/* TODO : Voir si le text-decoration: none fonctionne sur tous les browsers. Si non, ajouter un p avec le todo */
/*
.delete-todo {
	display: inline-block;
	cursor: pointer;
	font-size: 1.5rem;
	font-weight: 800;
	margin-left: 3rem;
	text-decoration: none;
	position: absolute;
	right: 50%;
	color: #cc9a9a;
}*/

.todo-item.editing, .todo-item.editing .test {
	/*margin-left: 2.5rem;*/
	/*padding: 0;
	margin: 0;
	padding-left: 3.5rem;*/
	/*transition: 0s;*/
	/*height: 64px;*/
	display: flex;
	flex-direction: row;
}

.todo-item.editing input[type="text"] {
	/*margin-left: 3.5rem;*/
	/*height: fit-content;*/
	/*width: 100%;
	height: 100%;*/
	line-height: 1.4;
	border: 1px solid #999;
	-webkit-box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 0.95rem;
	padding-bottom: 3px;
	/* TODO : Normalement pas besoin de pos:r et bottom:40px pour que l'input soit centré */
	position: relative;
	/*flex-grow: 1;*/
	width: 95%;
	/*bottom: 40px;*/
}

.todo-item.editing input:focus {
	outline: none;
}

.todo-item .inline-edit {
	display: flex;
	width: 100%;
}

.test > input {
	width: 100%;
	height: 100%;
	line-height: 1.4;
	border: 1px solid #999;
	-webkit-box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 0.95rem;
	padding-bottom: 3px;
	/* TODO : Normalement pas besoin de pos:r et bottom:40px pour que l'input soit centré */
	position: relative;
	bottom: 40px;
}

/*
.inline-text_input--active {
	width: 100%;
	height: 100%;
	line-height: 1.4;
	border: 1px solid #999;
	-webkit-box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 0.95rem;
	padding-bottom: 3px;
}*/


.inline-text_copy--active {
	cursor: pointer;
}

.inline-text_copy--hidden,
.inline-text_input--hidden {
	display: none;
}