.custom-checkbox {
	border: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.custom-checkbox-container {
	display: inline-block;
	vertical-align: middle;
	margin-right: 1.5rem;
	cursor: pointer;
	
	/* TODO : Pour éviter la sélection du text quand double click sur le checkbox */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
	/*transition: 1s;*/
}

.custom-visible-checkbox {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	background: white;
	border-radius: 50%;
	border: 1px solid #e6e6e6;
	vertical-align: sub;
	/*transition: all 1s;*/
}

.custom-checkbox:focus + * {
	outline: none;
	box-shadow: 0 0 2px 3px rgba(175, 91, 94, 0.3);
	/*outline: none;
	background-color: rgba(175, 91, 94, 0.3);*/
	/*transition: 0.5s;*/
}
/*.custom-visible-checkbox:focus {
	outline: #af3b5e;
	background-color: red;
	color: red;
	border: 5px solid;
}
.custom-checkbox-container:focus {
	outline: #af3b5e;
	background-color: red;
	color: red;
	border: 5px solid;
}*/

.custom-visible-checkbox.checked {
	border-color: rgba(186, 224, 189, 0.75);
}

.custom-visible-checkbox.checked::before {
	/* TODO : Si on utilise pas ::before, retirer position relative, bottom, left, content, width et height */
	display: block;
	content: '';
	position: relative;
	bottom: 5px;
	left: 2px;
	/*background: url('../../assets/img/checkmark2.png');*/
	background: url('./checkmark2.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 2.25rem;
	height: 2.25rem;
	/*transition: all 1s;*/
}