doctype html
html
	head
		block head
			meta(charset='UTF-8')
			meta(name='viewport', content='width=device-width, initial-scale=1.0')

			link(rel='stylesheet' href='/css/reset.css')
			link(rel='stylesheet' href='/css/style.css')

			script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')

			title Todo_v2 | #{title}

	body
		// Header
		include partials/_header

		// Content
		block content
			h1 Block Content Placeholder (PUG)

		// Footer
		include partials/_footer

		script(src='/js/bundle.js')