/* TODO : Voir comment gérer pour que, même si on change le font-size de undone-todos, le tout reste centré ? */

.footer {
	text-align: center;
	border: 1px solid #e6e6e6;
	border-radius: 0 0 5px 5px;
	padding: 0.75rem 1rem;
	position: relative;
	font-size: 14px;
}

.undone-todos {
	position: absolute;
	left: 1.25rem;
	padding-top: 3px;
}