.todos {
	display: block;
	margin: 0 auto;
	/*display: flex;
	flex-direction: column;
	align-items: center;*/
	max-width: 600px;
	/* TODO : Général pas pris en compte (override par les autres .css) */
	line-height: 1.4;
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.todos button {
	background: none;
	border: 0;
}

/*
color: #cc9a9a;
color: #af5b5e*/
